body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid black;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid lightgray;;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.future {
  background-color: #77dd77;
  color: darkblue;
}

.current {
  background-color: #ff6961;
  color: white;
}

.btn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #4FA2B4;
  color: white;
}
.btn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
.saveIcon {
  color: white !important;
  font-size: 2em;
  overflow: hidden;
  padding: 2px;
}